body {
	display: flex;
	flex-direction: column;
	font-family: sans-serif;
	height: 100vh;
	margin: 0;
	background-color: snow;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body > h1{
    text-align: center;
}

#file-uploads{
    display: flex;
    flex-direction: column;
    align-items: center;
}

form > input{
    width: 200px;
}

button{
    width: 60px;
    cursor: pointer;
}

.batch{
    margin-top: 30px;
    border-radius: 5px;
    background-color: white;
    padding: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    min-width: 30vw;
}

.batch > ul{
    margin: 10px 0;
    min-height: 10px;
    background-color: rgb(245, 245, 250);
    border-radius: 5px;
    border: 2px dashed gray;
    display: flex;
    padding: 0px;
    height: 104px;
}

.settings{
    display: flex;
    flex-direction: column;
}

ul::after {
	font: var(--fa-font-solid);
	text-align: center;
	width: 100%;
	color: darkslategray;
	content: 'Drop images \f574';
    font-size: .8em;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul.no-after::after{
    display: none;
    content: none;
    margin: 0px;
    width: 0px;
}


li {
    cursor: move;
    list-style: none;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2px;
    
}

li > .delete-file-btn,
.batch > .btn-container > .delete-batch-btn{
    background-color: rgba(255,255,255,0.5);
    width: 20px;
    border: none;
    font-weight: bold;
    color: black;
    cursor: pointer;
    display: block;
    position: relative;
    top: 5px;
    right: 20px;
    border-radius: 100px;
    cursor: pointer;
}

.fa-xmark {
    cursor: pointer;
}

li > .fa-xmark {
    position: relative;
    top: 5px;
    right: 20px;
}

.image {
    height: 100%;
    object-fit: cover;
    object-position: top;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

input[type=file] {
    display:none
}

.buttons{
    display: flex;
    width: 500px;
    justify-content: space-evenly;
    align-items: center;
}

.buttons > button{
    cursor: pointer;
}

#batch-buttons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 125px;
}

#batch-buttons > .options{
    cursor:pointer;
    display: flex;
}

#batch-options{
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 0px;
    width: 500px;
    opacity: 0;
    transition: .2s ease;
    transition-delay: 1s;
}

#batch-options > div{
    width: 300px;
}

#batch-options > div:first-child{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

#downloadBtn{
    display: none;
}

#batch-options.visible{
    height: 100%;
    opacity: 1;
    display: flex;
}

.batch > .btn-container{
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
}

.batch > .btn-container > .delete-batch-btn{
    cursor: pointer;
    position: unset;
}

.dragging{
    opacity: .5;
}